<h3 id="alerts-events">Events<a class="anchorjs-link" href="#alerts-events"><span class="anchorjs-icon"></span></a></h3>
<p>Bootstrap's alert plugin exposes a few events for hooking into alert functionality.</p>
<div class="table-responsive">
    <table class="table table-bordered table-striped bs-events-table">
        <thead>
            <tr>
                <th>Event Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>close.bs.alert</td>
                <td>This event fires immediately when the <code>close</code> instance method is called.</td>
            </tr>
            <tr>
                <td>closed.bs.alert</td>
                <td>This event is fired when the alert has been closed (will wait for CSS transitions to complete).</td>
            </tr>
        </tbody>
    </table>
</div>
